@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

span.glow {
  background: radial-gradient(
    circle at 100%,
    rgb(239, 45, 120),
    rgb(255, 126, 175),
    rgb(239, 45, 120)
  );
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 2.2s linear infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.pink {
  color: var(--pink);
}
